<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image%>">
            <div class="content">
                <span>Post Created on: <%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">EDIT POST</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button id="delete" class="ui negative basic button">DELETE POST</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>